---
import Layout from '@app/layouts/Layout.astro';
const siteProps = {
	title: 'about',
};
---

<Layout {...siteProps}>
  <h1 class="flex flex-col items-center h-full justify-center align-middle text-3xl">
    404 NOT FOUND
  </h1>
</Layout>
