---
import HeadBase from '@app/components/layout/HeadBase';
import Navbar from '@app/components/layout/Navbar';
import Footer from '@app/components/layout/Footer';

import '@app/resource/css/main.css';

interface Props {
	title: string;
  menu?: string;
}

const { title, menu } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <HeadBase props={{title}}>
    <>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
    </>
  </HeadBase>
  <body>
    <div class="page flex flex-col justify-between h-screen w-full">
      <Navbar client:load props={{menu}}/>
      <article class="page-container grow">
        <slot />
      </article>
      <Footer client:load />
    </div>
  </body>
</html>
  